body {
    margin: auto;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}


/*
* Header
*/

header #main {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

#logo {
    position: relative;
    margin-left: 20px;
    margin-right: 80px;
    margin-top: 25px;
    font-size: 26px;
    font-weight: 600;
    text-shadow: 3px 5px 5px #C1C2D2;
    cursor: default;
}

header {
    background-color: #F7F7F7;
    height: 100px;
    border-bottom: 1px solid red;
}

input[type=text] {
    width: 200px;
    height: 25px;
    padding-left: 10px;
    margin-top: 30px;
    box-shadow: 1px 1px 1px black;
    transition: width 0.5s ease;
}

input[type=text]:focus {
    width: 700px;
}

form {
    display: flex;
    flex-direction: column;
}

#searchText {
    margin-top: 12px;
    margin-left: 10px;
    font-size: .9em;
    display: none;
    /*transition: opacity 2.8s;*/
}


/*
* Résultat
*/

#result {
    max-width: 720px;
    margin-left: 250px;
    margin-top: 20px;
}

.show-content {
    text-align: justify;
    margin-bottom: 25px;
}

.show-content a {
    font-size: 20px;
    font-weight: 600;
    list-style-type: none;
}

.show-content li {
    margin-top: 3px;
    margin-bottom: 3px;
    color: #006621;
    list-style-type: none;
}

#extractSpan {
    font-size: 16px;
}

/*
* Resultats Similaire
*/

#result-similaire {
    margin-left: 250px;
    margin-top: 50px;
    padding-top: 50px;
    max-width: 720px;
    padding-bottom: 50px;
    columns: 2;
}

#divSimilaire {
    font-size: 18px;
    line-height: 1.6em;
}

#result-p {
    color: blue;
}

/*
* Msg OK / NOK
*/

.show-msg-ok {
    background-color: green;
    color: whitesmoke;
    text-shadow: 2px 2px 7px black;
    padding-left: 250px;
    padding-top: 5px;
    height: 25px;
    font-weight: 100;
    opacity: .8;
}

.show-msg-nok {
    background-color: red;
    color: whitesmoke;
    text-shadow: 2px 2px 7px black;
    padding-left: 250px;
    padding-top: 5px;
    height: 25px;
    font-weight: 100;
    opacity: .8;
}
